<span>
  <div class="right">
    <% if admin? %>
      <%= link_to edit_admin_item_path(item) do %>
        <i class="material-icons right">mode_edit</i>
      <% end %>
    <% else %>
      <%= link_to edit_item_path(item) do %>
        <i class="material-icons right">mode_edit</i>
      <% end %>
    <% end %>
  </div>
  <% if deletable(item) %>
    <div class="right"><%= link_to item_path(item, archive: true), method: :put,
      data: {confirm: "Are you sure you want to delete this?"} do %>
      <i class="material-icons right">delete</i>
    <% end %>
    </div>
  <% end %>
  <% if unarchivable(item) %>
    <div class="right"><%= link_to admin_item_path(item, archive: false), method: :put,
      data: {confirm: "Are you sure you want to unarchive this item?"}  do %>
      <i class="material-icons right">add</i>
    <% end %>
    </div>
  <% end %>
</span>
