<div class="banner">
    <p><%= image_tag("auction.png") %></p>
</div>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
     <% end %>
  </div>
</div>
