<body id="home-welcome">
  <div class="container center home">
    <div class="row banner">
      <p><%= image_tag("auction.png") %></p>
    </div>
    <div class="row banner-buttons">
      <div class="col s12 m6">
        <%= link_to "Donate Items to the Auction", signup_path, class:"btn home" %>
      </div>
      <div class="col s12 m6">
        <%= link_to "Browse Auction Items", browse_path, class:"btn home" %>
      </div>
    </div>
  </div>
</body>

