<div class="container">
  <h1>Archived Donations</h1>
  <div class="row">
    <% @archived.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
    <% end %>
  </div>
  <%= will_paginate @archived %>
</div>

