/*
 *= require_tree .
 *= require_self
 */

html {
  color: #616161;
}
#home-welcome {
  background-image: url("collage.jpg");
  background-size: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


nav {
  background: white;
}

nav a {
  color: gray;
}

nav .nav-wrapper {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  color: #616161;
}

nav .brand-logo {
  color: #616161;
}

nav ul a {
  color: #616161;
}

a {
  color: #43a047;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #43a047;
}

input.select-dropdown {
  color: #616161;
}

ul.dropdown-content.select-dropdown li span {
  color: #616161;
}

.card .card-title {
  font-size: 12px;
}

.form-error {
  background: #e53935;
  color: white;
}

.success {
  background: #1b5e20;
  color: white;
}

.row .col.s3 {
  width: 33%;
  margin-left: auto;
  left: auto;
  right: auto;
}
/*.card.medium {*/
  /*height: 400px;*/
  /*padding: 0; margin-right: 2px;*/
/*}*/

.banner {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #1b5e20;
  text-transform: uppercase;
  font-size: 40px;
}
.card .card-content .card-title {
  line-height: 0px
}

.activator {
  cursor: pointer;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  height: 180px;
}

.card.small .card-image img {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #1b5e20;
}

a.btn.home {
  margin-bottom: 30px;
}
.btn:hover {
  background-color: #f4511e;
}

h4 {
  color: #424242;
}

h2 {
  color: #5d4037;
  text-transform: uppercase;
  font-size; 30px;
}

.nav-italic {
  font-style: italic;
  color: #ffab40;
}

.container.center.home {
  background-color: white;
  opacity: .9;
  border-radius: 20px;
  margin-top: 200px;
}

.container {
  width: 60%;
}

.show-top {
  margin-top: 10px;
}

.btn.donation-form {
  margin-top: 20px;
}
.wrapper {
  padding-left: 300px;
}
ul#dropdown1.dropdown-content {
  width: 300px !important;
}

.list {
  font-family:sans-serif;
}
td {
  padding:10px;
  border:solid 1px #eee;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #1b5e20;
}

i.material-icons.left.icon-fave {
  color: #ffab40;
}

.card-panel.dashboard-card {
	text-align: center;
}
