/*
 *= require_tree .
 *= require_self
 */

#home-welcome {
  background-image: url("collage.jpg");
  background-size: 100%;
}

nav {
  background: white;
}

nav .nav-wrapper {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  color: #616161;
}

nav .brand-logo {
  color: #616161;
}

nav ul a {
  color: #616161;
}


.collection a.collection-item {
  color: #66bb6a;
}


.card .card-title {
  font-size: 18px;
}

.form-error {
  background: #e53935;
  color: white;
}

.success {
  background: #66bb6a;
  color: white;
}

.row .col.s3 {
  width: 33%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.card.medium {
  height: 400px;
  padding: 0; margin-right: 2px;
}


.banner {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #1b5e20;
}
.card .card-content .card-title {
  line-height: 0px
}

.activator {
  cursor: pointer;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  height: 200px;
}

.btn {
  background-color: #66bb6a;
}

a.btn.home {
  margin-bottom: 30px;
}
.btn:hover {
  background-color: #f4511e;
}

h4 {
  color: #424242;
}

.nav-italic {
  font-style: italic;
  color: #ffab40;
}

.container.center.home {
  background-color: white;
  opacity: .9;
  border-radius: 20px;
  margin-top: 200px;
}

.container {
  width: 60%;
}
