<div class="container">

  <div class="row">
  </div>
  <div id="users">
    <input class="search" placeholder="Search" />
    <table class="striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Email Address</th>
        </tr>
      </thead>

      <tbody class="list">
        <% @users.each do |user| %>
          <tr>
            <td class="name"><%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %></td>
            <td class="email"><%= user.email_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
