<div class="container">
  <h1>Active Auction Items</h1>
  <input class="search" placeholder="Search" />
  <div class="row">
    <% @active.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
    <% end %>
  </div>
  <%= will_paginate @active %>
</div>

