<div class="container">
  <h1>Active Donations</h1>
  <div class="row">
    <% @active.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
    <% end %>
  </div>
  <%= will_paginate @active %>
</div>

